In [4]:
# To print only even number 

x = 4
r = x % 2 

if r == 0:
    print('Even number')

Even number

In [5]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')

In [6]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
    
print('odd number')

odd number

In [7]:
x = 8
r = x % 2 

if r == 0:
    print('Even number')
    
print('odd number')

Even number
odd number

In [9]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
if r == 1:
    print('odd number')

odd number

In [11]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
if r != 0:
    print('odd number')
if r == 1:
    print('odd number')

odd number
odd number

In [12]:
x = 11
r = x % 2 

if r == 0:
    print('Even number')
else:
    print('odd number')

odd number

In [13]:
x = 10
r = x % 2 

if r == 0:
    print('Even number')
else:
    print('odd number')

Even number

In [14]:
x = 3
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Odd Number

In [15]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Even number

In [17]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
   
    else:
        print('smaller number')
else:
    print('Odd Number')

Even number
smaller number

In [18]:
x = 1

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

one

In [24]:
x = 4

if x == 1:
    print('one')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

four

In [26]:
x = 5

if x == 1:
    print('one')
    
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

else:
    print('number not found')

number not found

- if
- if else 
- nested if 
- if elif else

- https://www.geeksforgeeks.org/python/conditional-statements-in-python/

# LOOPS

In [27]:
print('data science')
print('data science')
print('data science')
print('data science')    
print('data science')

data science
data science
data science
data science
data science

In [ ]:
i = 1          # initializing

while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

In [30]:
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # increment

data science
data science
data science
data science
data science

In [31]:
i = 1         # initializing
while i<=5:    # condition
    print('data science : ', i)
    i = i + 1  # increment

data science :  1
data science :  2
data science :  3
data science :  4
data science :  5

In [32]:
i = 5         # initializing
while i>=1:    # condition
    print('data science : ', i)
    i = i - 1  # increment

data science :  5
data science :  4
data science :  3
data science :  2
data science :  1

In [33]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [34]:
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [35]:
i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [36]:
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

# For Loops

In [37]:
name = 'nit'

for i in name:
    print(i)

n
i
t

In [38]:
name1 = [1,3.5,'hallo'] #i want print the value individualy

for i in name1:
    print(i)

1
3.5
hallo

In [39]:
for i in range(5):
    print(i)

0
1
2
3
4

In [40]:
for i in range(1,10,3):
    print(i)

1
4
7

In [43]:
# can you wirte python progra to print 5 multiplication table 

for i in range(1, 51):
    if i % 5 == 0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [44]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [49]:
for i in range(1,11):
    if i == 7:
       break 
    print(i)

1
2
3
4
5
6

In [50]:
for i in range(1,11):
    if i == 7:
       continue 
    print(i)

1
2
3
4
5
6
8
9
10

In [51]:
for i in range(1, 10):

SyntaxError: incomplete input (3169954082.py, line 1)

In [52]:
for i in range(1, 10):
    pass

In [55]:
for i in range(1,51):  
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [56]:
nums = [12,15,18,21,26, 30,40]

for num in nums:
    if num % 5 == 0:
        print(num)

15
30
40

In [59]:
nums = [12,15,18,21,26, 30,40]

for num in nums:
    if num % 5 == 0:
        print(num) 
        break

15

In [60]:
nums = [12,18,21, 26 ]

for num in nums:
    if num % 5 == 0:
        print(num)

In [62]:
nums = [12,18,21, 26, 3 ]

for num in nums:
    if num % 5 == 0:
        print(num) 
    else:
        print('number not found')

number not found
number not found
number not found
number not found
number not found

In [63]:
nums = [12,18,21, 26, 3 ]

for num in nums:
    if num % 5 == 0:
        print(num) 
        
else:
  print('number not found')

number not found

# function in python

In [64]:
def greet():
    print('hello')
    print('good morning')

In [65]:
def greet():
    print('hello')
    print('good morning') 
greet()

hello
good morning

In [66]:
def greet():
    print('hello')
    print('good morning') 
greet()

def greet():
    print('hello')
    print('good morning') 
greet()

def greet():
    print('hello')
    print('good morning') 
greet()

hello
good morning
hello
good morning
hello
good morning

In [71]:
def greet(): 
    print('hello')
    print('good morning')

greet()

greet()

greet()

hello
good morning
hello
good morning
hello
good morning

In [72]:
def greet(): 
    print('hello')
    print('good morning')

greet('mike')

TypeError: greet() takes 0 positional arguments but 1 was given

In [74]:
def add(x, y):
    c=x+y
    print(c) 
    
add(5, 6)

11

In [77]:
def add(x, y, z):
    c=x+y+z
    print(c) 
    
add(5, 6, 7)

18

In [79]:
def add(x, y):
    c=x+y
    return c
    
add(5, 6)

11

In [80]:
def greet(): 
    print('hello')
    print('good morning')

greet()

def add(x, y):
    c=x+y
    return c
    
add(5, 6)

hello
good morning

11

In [81]:
def greet(): 
    print('hello')
    print('good morning')

def add(x, y):
    c=x+y
    return c

greet()    
add(5, 6)

hello
good morning

11

In [85]:
def add_sub(x, y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    return c, d 
    
result = add_sub(4,5)

print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [87]:
def add_sub(x, y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    return c, d 
    
result, result1 = add_sub(4,5)

print(result)
print(type(result))

print(result1)
print(type(result1))

9
<class 'int'>
-1
<class 'int'>

In [90]:
def add_sub_mul(x, y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    e = x*y
    return c, d, e

add_sub_mul(5, 2)

(7, 3, 10)

In [93]:
def add_sub_mul(x, y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    e = x*y
    return c, d, e

r, r1, r2 = add_sub_mul(5, 2)

print(r)
print(r1)
print(r2)

7
3
10