In [4]:
# To print only even number 

x = 4
r = x % 2 

if r == 0:
    print('Even number')

Even number

In [5]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')

In [6]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
    
print('odd number')

odd number

In [7]:
x = 8
r = x % 2 

if r == 0:
    print('Even number')
    
print('odd number')

Even number
odd number

In [9]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
if r == 1:
    print('odd number')

odd number

In [11]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
if r != 0:
    print('odd number')
if r == 1:
    print('odd number')

odd number
odd number

In [12]:
x = 11
r = x % 2 

if r == 0:
    print('Even number')
else:
    print('odd number')

odd number

In [13]:
x = 10
r = x % 2 

if r == 0:
    print('Even number')
else:
    print('odd number')

Even number

In [14]:
x = 3
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Odd Number

In [15]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Even number

In [17]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
   
    else:
        print('smaller number')
else:
    print('Odd Number')

Even number
smaller number

In [18]:
x = 1

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

one

In [24]:
x = 4

if x == 1:
    print('one')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

four

In [26]:
x = 5

if x == 1:
    print('one')
    
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

else:
    print('number not found')

number not found

- if
- if else 
- nested if 
- if elif else

- https://www.geeksforgeeks.org/python/conditional-statements-in-python/

# LOOPS

In [27]:
print('data science')
print('data science')
print('data science')
print('data science')    
print('data science')

data science
data science
data science
data science
data science

In [ ]:
i = 1          # initializing

while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

In [30]:
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # increment

data science
data science
data science
data science
data science

In [31]:
i = 1         # initializing
while i<=5:    # condition
    print('data science : ', i)
    i = i + 1  # increment

data science :  1
data science :  2
data science :  3
data science :  4
data science :  5

In [32]:
i = 5         # initializing
while i>=1:    # condition
    print('data science : ', i)
    i = i - 1  # increment

data science :  5
data science :  4
data science :  3
data science :  2
data science :  1

In [33]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [34]:
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [35]:
i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [36]:
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12